@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Gugi&family=Roboto+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,500;1,600&display=swap");

body {
  font-family: "Roboto Mono", monospace;
  position: relative;
}
body,
html {
  overflow-x: hidden;
}
.banner_section {
  padding-top: 250px;
}
.banner_sec,
.tab_sec {
  padding: 50px 0 10px;
  background-image: linear-gradient(#7f70b3ab, #7f70b3af), url(/images/bg.png);
  background-position: center;
  background-size: cover;
}
.tab_sec {
  padding: 163px 0 100px 0;
}
.col-md-2,
.col-md-4 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.ban_img {
  width: 300px;
}
.pos_6 {
  position: absolute;
  left: -48%;
  top: -263px;
  z-index: 2;
}
.pos_7 {
  position: absolute;
  top: -47%;
  width: 140px;
  transform: rotate(51deg);
  z-index: 1;
  left: 115%;
  margin-left: 0;
}
.pos_1 {
  position: absolute;
  left: -121%;
  top: 79%;
  max-width: 260px !important;
}

.pos_2 {
  position: absolute;
  left: -2%;
  top: -2%;
}

.pos_3 {
  position: absolute;
  left: -9%;
  top: 62%;
  z-index: 1;
}

.pos_4 {
  position: absolute;
  left: -18%;
}

.pos_5 {
  position: absolute;
  left: -108%;
  top: 42%;
  z-index: 10;
  max-width: 536px !important;
}
/* .pos_2 {
        position: absolute;
        left: -88%;
        top: -2%;
      }
      .pos_3 {
        position: absolute;
        left: -77%;
        top: 62%;
        z-index: 1;
      } */
.wrapper {
  width: 100%;
  max-width: 1200px;
}
/* .pos_4 {
        position: absolute;
        left: -60%;
      }
      .pos_5 {
        position: absolute;
        left: -60%;
        top: 62%;
      }
      .pos_5 {
        position: absolute;
        left: -124%;
        top: 42%;
        z-index: 10;
        max-width: 536px !important;
      } */
button.dis_btn {
  background: #d9d9d9;
  padding: 14px 30px;
  border-radius: 8px;
  color: #000;
  position: absolute;
  left: 0;
  top: 0;
}
.btn_section {
  padding: 230px 0 0;
}
.modal_btn {
  background: #d9d9d9;
  padding: 14px 30px;
  border-radius: 8px;
  color: #000;
  margin-bottom: 30px;
}
.ca_txt {
  font-family: Raleway, sans-serif;
  margin-bottom: 60px;
  color: #000;
  margin-right: 0;

  font-family: "Roboto Mono", monospace;
}
.social_btn {
  /* font-family: "Bangers", Sans-serif; */
  font-size: 13px;
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  text-decoration: none;
  color: #000;
  background-color: #fff;
  /* border-style: solid; */
  /* border-color: #000000; */
  outline: none;
  border: 2px solid #000;
  padding: 9px 23px;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 0;
}
.elementor-11 .elementor-element.elementor-element-19fb95e::before {
  background-image: none !important;
}
.button_grp {
  display: flex;
  align-items: center;
  gap: 9px;
  margin-right: 0;
  justify-content: center;
  margin-bottom: 30px;
}

.mid_logo {
  width: 450px;
}
.ban_txt {
  font-size: 20px;
  color: #000;
  font-family: Roboto Mono, monospace;
}

.modal_box {
  width: 800px;
  background: #000;
  color: #fff;
  text-align: center;
  padding: 40px 29px;
  border-radius: 8px;
}

.tab-container {
  font-family: Arial, sans-serif;
}

.tab-list {
  list-style: none;
  padding: 0;
  display: flex;
}

.tab {
  cursor: pointer;
  padding: 10px 20px;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 5px;
}

.tab.active {
  background-color: #fff;
  border-bottom: 1px solid #fff;
}

.tab-content {
  display: none;
}

.tab-content .tab-pane.active {
  display: block;
}

/*******tab section*********/
.tabs {
  width: 100%;
}

.tab-links li {
  display: inline;
  margin-right: 10px;
  cursor: pointer;
}

.tab-content {
  display: none;
  text-align: left;
  padding-left: 39px;
}
.pos_5 {
  position: absolute;
  left: -79%;
  top: 54%;
  z-index: 10;
  width: 490px;
}
.modal_box {
  background: #000;
  color: #fff;
  border: 1px solid #f7f7f7;
  padding: 40px 15px;
  border-radius: 8px;
}
.tab-content.active {
  display: block;
}

.tab-links {
  text-align: left;
  padding-bottom: 26px;
}

.tab-links li a {
  background: #d9d9d9;
  padding: 8px 25px;
  border-radius: 8px;
  color: #000;
  display: inline-block;
  text-decoration: none;
  margin-top: 0;
  font-size: 18px;
}

.pos_2 {
  position: absolute;
  left: -77%;
  top: -2%;
}
.pos_4 {
  position: absolute;
  left: -55%;
}

.pos_3 {
  position: absolute;
  left: -53%;
  top: 62%;
  z-index: 1;
}

/*******modified css********/
button.dis_btn {
  background: #d9d9d9;
  padding: 12px 39px;
  border-radius: 8px;
  color: #000;
  position: absolute;
  left: -15px;
  top: -22px;
  font-size: 15px;
}

/****modal design***/
.modal {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;

  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pop_up {
  position: absolute;
  top: 15%;
  left: 31%;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  z-index: 1050;
  display: none;
  width: 44%;

  /* overflow: hidden; */
  outline: 0;
}
.close {
}
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  float: right;
  font-size: 1.9rem;
  font-weight: 700;
  line-height: 1;
  color: #fff !important;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
  right: 16px;
}

.drag_btn {
  cursor: move !important;
}
/* responsive css */

@media screen and (max-width: 768px) {
  .banner_section {
    padding-top: 0;
  }
  .btn_section {
    padding: 50px 0 0;
  }

  .social_btn {
    margin-top: 12px;
  }
  .pop_up {
    position: absolute;
    top: 2%;
    left: 2%;
    width: 95%;
  }
  .tab-links li a {
    margin-top: 12px;
  }
  .tab_sec {
    padding: 100px 0 100px 0;
  }
  .ban_img {
    width: 90%;
    display: block;
  }
  .ban_txt {
    font-size: 20px;
    color: #000;
    font-family: Roboto Mono, monospace;
    margin-right: 40px;
    padding: 0 8px;
  }
  .pos_1 {
    position: static;
  }
  .pos_2 {
    position: static;
  }
  .pos_3 {
    position: static;
  }
  .pos_4 {
    position: static;
  }
  .pos_5 {
  }
  .pos_5 {
    position: static;
  }

  .pos_6 {
    position: static;
  }
  .pos_7 {
    position: static;
    width: 150px;
    transform: rotate(30deg);
    margin-left: 40px;
  }
  .mid_logo {
    width: 336px;
    margin-left: 20px;
  }
  .button_grp {
    display: block;
    margin-right: 20px;
  }
  .button_grp a {
    margin-top: 13px;
    display: inline-block;
    border-radius: 8px;
    margin-right: 7px;
  }

  .ca_txt {
    font-family: Raleway, sans-serif;
    font-size: 16px;
    margin-right: 100px;
  }
}

/**********draggable button**********/
.draggable-box {
  width: 200px;
  height: 200px;
  background-color: lightblue;
  position: absolute;
  z-index: 9999;
}

.draggable-button {
  background-color: red;
  color: white;
  padding: 10px;
  cursor: pointer;
}
*/ .draggable {
  z-index: 1060;
  position: absolute;
  width: 200px;
  height: 200px;
  background: black;
}
/* 
#mydiv {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  text-align: center;
  border: 1px solid #d3d3d3;
}

#mydivheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196f3;
  color: #fff;
} */
